<!DOCTYPE html>
<html>
  <head>
    <title>Beer Vision</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Beer Vision</h1>
    <p>What's your beers muscial personality? Take a photo your favoriate beer and we will find the best possible song for it based on <a href="http://en.wikipedia.org/wiki/Beer_measurement#Colour">color</a>.</p>
  




    <div id="music"></div>

  <script id="app-settings" type="application/json">
      {
        "isMobile": "",
        "gaAccountId": "GA_ACCOUNT_ID_HERE",
        "fbAccountId": "FB_ACCOUNT_ID_HERE"
      }
  </script>

  <!-- 3rd Party -->
  <script src="javascripts/bower_components/jquery/jquery.min.js"></script>
  <script src="javascripts/bower_components/underscore/underscore-min.js"></script>
  <script src="javascripts/bower_components/backbone/backbone-min.js"></script>
  <script src="http://connect.soundcloud.com/sdk.js"></script>
  
  <script src="javascripts/app/helpers/soundcloud-helper.js"></script>

  <!-- Views -->
  <script src="javascripts/app/views/example-view.js"></script>
  <script src="javascripts/app/views/app-view.js"></script>

  <!-- App -->
   <script src="javascripts/app/app.js"></script>

  

  </body>
</html>