<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

	<script src="javascripts/bower_components/jquery/jquery.min.js"></script>
	<script src="javascripts/bower_components/underscore/underscore-min.js"></script>
	<script src="javascripts/bower_components/backbone/backbone-min.js"></script>
    
    <p>Take a photo with your camera</p>
  </body>
</html>